/* styles.css */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 600px; /* Set maximum width */
    max-height: 400px; /* Set maximum height */
    margin: 0 auto;
}
